@use '../01-settings/' as *;
@use '../02-tools/' as *;
.ico{
    
    font-size: 2rem;
        line-height: 2.8rem;
        padding: $grid-base;
        @include medium{
            font-size: 3rem;
        line-height: 4rem;
}
}
.map {
   display: flex;
   justify-content: center;
    width: 100%;
    height: 50%;
    @include medium{
     
        height: 50rem;
    }
    &  iframe{
        width: 100%;
        @include medium{
            width: 50%;
            height: 100%;
        }
    }
   
}