//FONTS

$font-base: 10px;

$grid-base: $font-base;

$gutter: 1.5 * $grid-base;

//COLORS
$color-white:#f9faf7;
$color-brown:#f6efbf;
$color-bg-body: #f6efbf;
$color-bg-footer:  black;
$color-bg-body: $color-brown;
$color-bg-section: $color-white;
$color-bg-header: #467302;
$color-body:#a2bd7b;


$header-height: 25rem;



// BREAKPOINTS
$bp-sm: 350px;
 
$bp-md: 768px;

$bp-lg: 1240px;