@use '../01-settings/' as *;
@use '../02-tools/' as *;

.site-contact {
    position: relative;
    width: 90%;
   
    @include medium{
        width: 50%;
    }

   
    &__h2 {
        position: absolute;
        
    }

    &__form {
        position: relative;
       
       
    }

}