@use '../01-settings/' as *;
@use '../02-tools/' as *;

.site-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: $color-light-brown;
    background-color: $color-dark;
    justify-content: center;
    align-items: center;
    min-height: 5rem;

    @include medium {
        flex-direction: row;
    }
}