@use '../01-settings/' as *;
@use '../02-tools/' as *;

// wg BEM to blok
.site-header {
    position: sticky;
    top: -14rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 100%;
    background-color: $color-dark;
   
   
    @include medium{
    padding-bottom:3rem;
        top:-12rem;
    }
     
    &__item {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 0rem;
        &--logo {
            
            color: $color-light-brown;
            @include medium{
                padding-left: 2rem;
                padding-top:1rem;
            }
        }

        &--contact{
            padding: .5rem;
           justify-content: top;
            color: $color-light-brown;
        }

       

        @include medium {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &--contact{
            color: $color-light-brown;
            font-size: 2rem;
        }

       
    }

    &__nav {
        width: 100%;
        position: absolute;
        top: 70%;
        display: none;

        @include medium{
            display: flex;
            bottom: 2rem;
        }
    }

}
#menu {
    color:$color-light-brown;
    margin-bottom:1rem;
    @include medium {
        display: none;
       
    }

    font-size:3rem;

    &:hover {
        transform: scale(.8)
    }
}